*{
    padding: 0;
        margin: 0;
        box-sizing: border-box;
    
    }
    
    body{
        margin: 0;
    }
    
    /*  nav scetion */
    
    .nav-section{
        top: 0;
        padding: 1rem;
        border-bottom: 2px solid black;
        width: 100%;
        
    }
    
    
    .nav-cont{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        
    }
    .app-title{
        font-size: 1.5rem;
        min-width: 20%;
        
        
    }
    .nav-options{
        
        display: flex;
        flex-wrap: wrap;
    
    }
    
    
    .nav-options > a{
        margin-left: 2rem;
        text-decoration: none;
        color: black;
        padding: 1rem;
    
        /* position: relative; */
        display: inline-block;
        margin: 5px;
    }
    
    
    
    .hamburger{
        display: none;
        font-size: 2rem;
        cursor: pointer;
    }
    
    /*  responsive for nav bar */
    @media (max-width: 1000px){
        .nav-options{
            display: none;             
            position: absolute;
            top: 70px;
            right: 0;
            background: white;
            flex-direction: column;
            width: 200px;
            border: 1px solid #a8a5a5;
            padding: 1rem;
        }
    
        .nav-options > a{
            margin: 0.5rem 0;
        }
    
        
        .nav-options.active{
            display: flex;
        }
        .hamburger{
            display: block;
        }
    
    
    }
    
    
    
    
/* Task Layout */
.task-section {
    max-width: 100%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

/* Form */
.task-form {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.task-form input,
.task-form select {
    padding: 15px;
    flex: 1;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.task-form button {
    padding: 10px 18px;
    background: #007bff;
    color: white;
    border: 2px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
    
}
.task-form button:hover{
    
    background-color: white;
    color: #007bff;
    border: 2px solid silver;
}


.section-title {
    margin: 15px 0 8px;
}

/* for task cards from js  */
.task-card {
    border: 1px solid #dddddd;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #91c7e0;
}

/*  background for the completed task */
.completed {
    background: #61db61;
}

/* /bg for incomplete tasks */
.incomplete{
    background: #ff0303;
}

.task-actions button {
    margin-left: 6px;
    padding: 5px 10px;
    cursor: pointer;
}

/* status tags in js like done pending  */
.status-tag {
    font-size: 12px;
    padding: 3px 8px;
    border-radius: 4px;
    margin-left: 10px;
}

.status-done {
    background: #28a745;
    color: white;
}

.status-pending {
    background: #dc3545;
    color: white;
}


.task-stat {
    max-width: 70%;
    margin: 10px auto 30px;
    display: flex;
    gap: 20px;
}

.task-stat div {
    flex: 1;
    background: white;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
    border: 1px solid #ddd;
}


.task-stat #task-completed{
    background-color: #61db61;
}
.task-stat #notDone-task{
    background-color: #f81212;
}